__pycache__
*.nc
*.pdf
*.png
.ipynb_checkpoints
Plots*
Untitled*
Intermediate_data
SAM_surface_pressure.ipynb
condensate.ipynb
single_profiles_IWV.ipynb
single_profiles_subsidence_fraction.ipynb
single_profiles_thermodynamics.ipynb
single_profiles_variablilty.ipynb
temporal_variability.ipynb
unsaturated_cloud_profilles.ipynb
